[submodule "drupal"]
	path = drupal
	url = http://git.drupal.org/project/drupal.git
	branch = 7.x
[submodule "modules/contrib/views"]
	path = modules/contrib/views
	url = http://git.drupal.org/project/views.git
	branch = 7.x-3.x
[submodule "modules/contrib/ctools"]
	path = modules/contrib/ctools
	url = http://git.drupal.org/project/ctools.git
	branch = 7.x-1.x
[submodule "modules/contrib/devel"]
	path = modules/contrib/devel
	url = http://git.drupal.org/project/devel.git
	branch = 7.x-1.x
[submodule "/modules/contrib/features"]
	path = /modules/contrib/features
	url = http://git.drupal.org/project/features.git
	branch = 7.x-2.x
[submodule "/modules/contrib/pathauto"]
	path = /modules/contrib/pathauto
	url = http://git.drupal.org/project/pathauto.git
	branch = 7.x-1.x
